1. Load tools and the data, preliminary inspection

In [1]:
import pandas as pd

In [2]:
#open file
df = pd.read_csv('communications.csv')

In [3]:
#number of rows and columns
df.shape

(145941, 15)

In [4]:
#show first few rows
df.head(3)

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
0,28d82c62db5989d9441351f58738c6a8,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-04 10:03:16.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,1.0
1,0f98a1bbf7f2b66f420816a65c8d9b77,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-12 08:34:09.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,2.0
2,97f9ed967d2334ce0b4ebfcfc9b5c25c,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-19 08:58:11.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,Email,3.0

In [5]:
#show last few rows
df.tail(3)

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
145938,cc0fffcd2b61f6d042b57dee6ac708b1,21a0b5def79c5b2d66e9ad4c0cc3fb3b,2021-10-01 12:48:57.220000+00:00,0,0,e4da3b7fbbce2345d7772b0674a318d5,M,CA,55.0,2021-09-24 11:09:14.220000+00:00,Beaver Bank,CreditCard,CA,SMS,1.0
145939,fa847a2010017f81261bbc19f2b7819e,ecd70b4e32b3b7496c8070acf0b98965,2021-10-01 13:33:02.070000+00:00,0,0,e4da3b7fbbce2345d7772b0674a318d5,M,CA,54.0,2021-09-22 10:44:41.070000+00:00,Beaver Bank,CreditCard,CA,Email,1.0
145940,7c1f417c29ed7c451a1046114c26e0e7,fba02d3eecbb0049ba97bf869ffdf260,2021-10-01 16:10:08.646000+00:00,0,0,e4da3b7fbbce2345d7772b0674a318d5,M,CA,60.0,2021-09-21 11:35:53.646000+00:00,Beaver Bank,CreditCard,CA,SMS,1.0

In [6]:
#inspect columns and field data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145941 entries, 0 to 145940
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   message_id        145941 non-null  object
 1   customer_id       145941 non-null  object
 2   sent_at           145941 non-null  object
 3   clicked           145941 non-null  int64
 4   converted         145941 non-null  int64
 5   client_id         145941 non-null  object
 6   gender            114265 non-null  object
 7   customer_country  115795 non-null  object
 8   age               123921 non-null  float64
 9   created_at        145941 non-null  object
 10  client_name       145941 non-null  object
 11  product_type      145941 non-null  object
 12  client_country    145941 non-null  object
 13  channel           145941 non-null  object
 14  message_number    145941 non-null  float64
dtypes: float64(2), int64(2), object(11)
memory usage: 16.7+ MB

In [7]:
#check for duplicates

dupe_count = len(df[df.duplicated()])
print(dupe_count)

0

In [8]:
#check for missing values
nullval = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False) * 100
missing = pd.concat([nullval, percent], axis=1, keys=['Total Missing', '% Missing'])

print(missing)

                  Total Missing  % Missing
gender                    31676  21.704661
customer_country          30146  20.656293
age                       22020  15.088289
message_id                    0   0.000000
customer_id                   0   0.000000
sent_at                       0   0.000000
clicked                       0   0.000000
converted                     0   0.000000
client_id                     0   0.000000
created_at                    0   0.000000
client_name                   0   0.000000
product_type                  0   0.000000
client_country                0   0.000000
channel                       0   0.000000
message_number                0   0.000000

In [9]:
#inspect column 'gender'
df['gender'].value_counts(dropna=False)

M      57655
F      56610
NaN    31676
Name: gender, dtype: int64

In [10]:
#inspect column 'customer_country'
df['customer_country'].value_counts(dropna=False)

UK     49146
CA     33911
NZ     32738
NaN    30146
Name: customer_country, dtype: int64

In [11]:
#inspect column 'age'
df['age'].value_counts(dropna=False)

NaN     22020
51.0    11736
24.0     4499
22.0     4478
25.0     4291
        ...
91.0      148
95.0      131
94.0      100
93.0       85
96.0       10
Name: age, Length: 80, dtype: int64

In [12]:
#check the range of values in age

df['age'].describe()

count    123921.000000
mean         43.041857
std          17.772985
min          18.000000
25%          26.000000
50%          44.000000
75%          55.000000
max          96.000000
Name: age, dtype: float64

In [13]:
#inspect column 'message_id'
df['message_id'].value_counts(dropna=False)

28d82c62db5989d9441351f58738c6a8    1
946bc345190b66c945fd015ee9520c18    1
351d075c4d621caa3b7d935d1a373a30    1
0ae9bc13521ea84e99f253b685a7f346    1
ee9c7fa4c769477e9a5e6bde5ecdbea4    1
                                   ..
551084d5bdd5844bb3d6918440462480    1
ebc5958355640a2c8a5bdc11b2937108    1
a693dd9510fd0e63cb164a4ffba7f55e    1
74cb6c73f48ea6f8c2a6ed9e3b5cf6c6    1
7c1f417c29ed7c451a1046114c26e0e7    1
Name: message_id, Length: 145941, dtype: int64

In [14]:
#inspect column 'customer_id'
df['customer_id'].value_counts(dropna=False)

a40ee72e10612613885de1208e1b9500    39
fdadb8fadedda0a37a7ba5677d9a871a    39
c119a399d09a8774a8e3c05ad8519029    39
3d8d8864b7b853bbd47329484c9cc072    39
bdcefdcae7c32bda6fdfed13ccbe08c7    39
                                    ..
38a4273f2b928029b72def5ca866dc2a     1
734b250ebb3f5ff9e6c94c459c4a1f35     1
fb52e497d957f323b4a76ade17becba6     1
f90c066ab24a72a73e13f8622193c1a0     1
fba02d3eecbb0049ba97bf869ffdf260     1
Name: customer_id, Length: 9751, dtype: int64

In [15]:
#inspect column 'sent_at'
df['sent_at'].value_counts(dropna=False)

2021-09-29 09:49:26.507000+00:00    2
2021-06-16 09:30:34.316000+00:00    2
2021-06-29 11:03:28.273000+00:00    2
2021-09-17 12:23:14.671000+00:00    2
2021-01-04 10:03:16.376000+00:00    1
                                   ..
2021-09-22 12:58:32.834000+00:00    1
2021-09-15 09:49:35.834000+00:00    1
2021-09-10 11:30:26.834000+00:00    1
2021-09-03 08:14:23.834000+00:00    1
2021-10-01 16:10:08.646000+00:00    1
Name: sent_at, Length: 145937, dtype: int64

In [16]:
#inspect column 'clicked'
df['clicked'].value_counts(dropna=False)

0    136567
1      9374
Name: clicked, dtype: int64

In [17]:
#inspect column 'converted'
df['converted'].value_counts(dropna=False)

0    142799
1      3142
Name: converted, dtype: int64

In [18]:
#inspect column 'client_id'
df['client_id'].value_counts(dropna=False)

cfcd208495d565ef66e7dff9f98764da    36110
c81e728d9d4c2f636f067f89cc14862c    29007
eccbc87e4b5ce2fe28308fd9f2a7baf3    20876
c4ca4238a0b923820dcc509a6f75849b    17137
e4da3b7fbbce2345d7772b0674a318d5    12408
1679091c5a880faf6fb5e6087eb1b2dc    12396
a87ff679a2f3e71d9181a67b7542122c     9904
8f14e45fceea167a5a36dedd4bea2543     8103
Name: client_id, dtype: int64

In [19]:
#inspect column 'created_at'
df['created_at'].value_counts(dropna=False)

2021-01-01 00:10:23.616000+00:00    39
2021-01-02 00:57:39.405000+00:00    39
2021-01-03 19:28:12.644000+00:00    39
2021-01-02 18:24:34.060000+00:00    39
2021-01-02 02:25:01.520000+00:00    39
                                    ..
2021-09-21 08:13:53.331000+00:00     1
2021-09-23 13:51:18.757000+00:00     1
2021-09-25 12:05:58.820000+00:00     1
2021-09-24 17:44:09.211000+00:00     1
2021-09-21 11:35:53.646000+00:00     1
Name: created_at, Length: 9751, dtype: int64

In [20]:
#inspect column 'client_name'
df['client_name'].value_counts(dropna=False)

SwanPay         36110
Badgerbank      29007
KiwiPay         20876
Fox Energy      17137
Beaver Bank     12408
Moose Money     12396
Skink Solar      9904
Eagle Energy     8103
Name: client_name, dtype: int64

In [21]:
#inspect column 'product_type'
df['product_type'].value_counts(dropna=False)

BNPL          69382
CreditCard    41415
Energy        35144
Name: product_type, dtype: int64

In [22]:
#inspect column 'client_country'
df['client_country'].value_counts(dropna=False)

UK    82254
CA    32907
NZ    30780
Name: client_country, dtype: int64

In [23]:
#inspect column 'channel'
df['channel'].value_counts(dropna=False)

Email    90849
SMS      55092
Name: channel, dtype: int64

Initial observations:
1. There no duplicate rows.
2. Data have been consistent and clean. There are no entries not following the defined format for each field.
3. There's plenty of missing values under the columns age, customer_country, and gender. This accounts for a large percent of data.

2. Data Cleansing

In [24]:
#impute the missing categorical values in gender column

df2 = df.copy()
df2['gender'] = df2['gender'].fillna(df['gender'].mode()[0])
df2['gender'].value_counts(dropna=False)

M    89331
F    56610
Name: gender, dtype: int64

In [25]:
#interpolate the missing values in age column

df2['age'] = df2['age'].interpolate(kind='cubic')
df2['age'].describe()

count    145941.000000
mean         42.956431
std          17.674402
min          18.000000
25%          26.000000
50%          44.000000
75%          55.000000
max          96.000000
Name: age, dtype: float64

In [42]:
#drop rows with missing customer_country values
df3 = df2.dropna(axis=0, subset=['customer_country'])
df3['customer_country'].value_counts(dropna=False)

UK    49146
CA    33911
NZ    32738
Name: customer_country, dtype: int64

In [43]:
#check for missing values
nullval = df3.isnull().sum().sort_values(ascending=False)
percent = (df3.isnull().sum()/df3.isnull().count()).sort_values(ascending=False) * 100
missing = pd.concat([nullval, percent], axis=1, keys=['Total Missing', '% Missing'])

print(missing)

                  Total Missing  % Missing
message_id                    0        0.0
customer_id                   0        0.0
sent_at                       0        0.0
clicked                       0        0.0
converted                     0        0.0
client_id                     0        0.0
gender                        0        0.0
customer_country              0        0.0
age                           0        0.0
created_at                    0        0.0
client_name                   0        0.0
product_type                  0        0.0
client_country                0        0.0
channel                       0        0.0
message_number                0        0.0

In [44]:
#drop message_number column
df_final = df3.drop('message_number', axis=1)
df_final.shape

(115795, 14)

3. Check relationships

In [45]:
#check distribution of customers across clients
pivot_client = pd.pivot_table(df_final, index='client_name', columns='customer_country', values='customer_id', aggfunc='count')
print(pivot_client)

customer_country     CA     NZ     UK
client_name
Badgerbank         2554   4387  15971
Beaver Bank       10372    532    566
Eagle Energy       6772    479    407
Fox Energy         1016   2782   9225
KiwiPay             502  11868   2009
Moose Money       10056    756    594
Skink Solar         497   5775   1195
SwanPay            2142   6159  19179

In [46]:
#check distribution of customers across products
pivot_products = pd.pivot_table(df_final, index='product_type', columns='customer_country', values='customer_id', aggfunc='count')
print(pivot_products)

customer_country     CA     NZ     UK
product_type
BNPL              12700  18783  21782
CreditCard        12926   4919  16537
Energy             8285   9036  10827

In [47]:
df_final.describe()

             clicked      converted            age
count  115795.000000  115795.000000  115795.000000
mean        0.067611       0.022859      43.233906
std         0.251078       0.149456      17.700597
min         0.000000       0.000000      18.000000
25%         0.000000       0.000000      26.000000
50%         0.000000       0.000000      44.000000
75%         0.000000       0.000000      55.000000
max         1.000000       1.000000      96.000000

In [48]:
df_final.corr()

            clicked  converted       age
clicked    1.000000   0.567994 -0.084022
converted  0.567994   1.000000 -0.074575
age       -0.084022  -0.074575  1.000000

Final notes:
1. The dataset has been inspected and the problem of missing values addressed.
2. The initial relationship shows that customers are well-distributed across clients and products. We'll explore of the relationships using Tableau.
3. There doesn't seem to be any strong correlation among the quantitative data.

In [50]:
#export the cleaned up dataset to csv
import os

csvpath = "communications2.csv"

if os.path.exists(csvpath):
    df_final.to_csv(csvpath, index=False, header=True)
else:
    df3_final.to_csv(csvpath, index=False, header=True)